body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

// body:after{
//   position:absolute;
//   z-index:-1;
//   opacity: 0;
//   top: 0;
//   content: url('../img/rainette-verte.png') url('../img/loup.png') url('../img/alouette-des-champs.png');
// }

.mobile-wrapper {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

a.link {
  color: $color-primary;
  text-decoration: underline;
  &:hover {
    color: darken($color: $color-primary, $amount: 10%);
  }
}

ol {
  margin: 0 0 1.5em;
  padding: 0;
  counter-reset: item;
}

ol > li {
  margin: 0;
  list-style-type: none;
  counter-increment: item;
}

ol > li:before {
  display: inline-block;
  width: 1em;
  padding-right: 0.5em;
  font-weight: bold;
  text-align: right;
  content: counter(item) ".";
}

.h_iframe        {position:relative;}
.h_iframe .ratio {display:block;width:100vw;height:auto;}
.h_iframe iframe {position:absolute;top:0;left:0;width:100vw; height:100%;}

@media (min-width: 576px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}