body {
  // background-color: gray;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

body:after{
  position:absolute; z-index:-1;
  opacity: 0;
  top: 0;
  content: url('../img/rainette-verte.png') url('../img/loup.png') url('../img/alouette-des-champs.png');
}

a.link {
  color: $color-primary;
  text-decoration: underline;
  &:hover {
    color: darken($color: $color-primary, $amount: 10%);
  }
}

ol {
  margin: 0 0 1.5em;
  padding: 0;
  counter-reset: item;
}

ol > li {
  margin: 0;
  list-style-type: none;
  counter-increment: item;
}

ol > li:before {
  display: inline-block;
  width: 1em;
  padding-right: 0.5em;
  font-weight: bold;
  text-align: right;
  content: counter(item) ".";
}

@media (min-width: 576px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}