.hit {
  &.bold {
    font-weight: bold;
  }
  &.primary {
    color: $color-primary;
  }
  &.font-wwf {
    font-family: "WWF", sans-serif;
  }
  &.font-30 {
    font-size: 30px;
    line-height: 35px;
  }
}

@each $key, $value in $colors {
  .bg-#{$key} {
    background-color: $value;
  }
  .text-#{$key} {
    color: $value;
  }
}