$color-white: #ffffff;
$color-black: #000000;
$color-primary: #523853;
$color-secondary: #99A891;

$colors: (
  A: #523853,
  B: #99A891,
  C: #FF7A57,
  D: #FD8D81,
  E: #F52056,
);

$color-disable: #EFEFEF;

$chart-red: #C90037;
$chart-green: #91B508;
$chart-yellow: #FFCA00;
$chart-gray: #C6C6C5;