.button {
  @include flex-row-center;
  display: inline-flex;
  font-family: 'WWF', sans-serif;
  color: $color-black;
  border: 2px solid lighten($color: $color-black, $amount: 80%);
  padding: 15px 30px;
  font-size: 17px;
  text-transform: uppercase;
  transition: all .30s;
  @media (max-width: 768px) {
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }
  & img {
    margin-right: 10px;
  }
  &:hover {
    text-decoration: none;
    color: $color-black;
    background-color: darken($color: $color-white, $amount: 5%);
  }
  &--block {
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }
  &--primary {
    font-size: 22px;
    padding: 10px 20px;
    background-color: map-get($map: $colors, $key: C);
    border-color: map-get($map: $colors, $key: C);
    color: $color-white;
    transition: all .30s;
    &:hover {
      background-color: lighten($color: map-get($map: $colors, $key: C), $amount: 10%);
      border-color: lighten($color: map-get($map: $colors, $key: C), $amount: 10%);
      color: $color-white;
    }
  }
  &--secondary {
    font-size: 22px;
    padding: 10px 20px;
    background-color: $color-secondary;
    border-color: $color-secondary;
    color: $color-white;
    transition: all .30s;
    &:hover {
      background-color: darken($color: $color-secondary, $amount: 10%);
      border-color: darken($color: $color-secondary, $amount: 10%);
      color: $color-white;
    }
  }
  &--light {
    font-size: 22px;
    padding: 20px 20px;
    background-color: none;
    border-color: $color-white;
    color: $color-white;
    transition: all .30s;
    &:hover {
      color: $color-white;
    }
  }
  &--nav {
    display: block;
    position: absolute;
    padding: 13px 20px;
    right: 0;
    height: 100%;
    transition: all .50s;
    span {
      margin-left: 10px;
    }
    img {
      margin-right: 0;
      margin-top: -5px;
    }
  }
  &.btn-animals.active {
    position: relative;
    transition: all .30s;
    transform: scale(1.05);
    background-color: transparentize($color: $color-black, $amount: .7);
    &:hover {
      color: transparent;
    }
    &:hover .btn-roll-over {
      display: flex;
      color: $color-white;
    }
  }
}

#btn-nav-width {
  width: 270.8px;
  @media (max-width: 768px) {
    width: auto;
  }
}