#mini-navbar-first, #mini-navbar-second {
  display: inline-block;
  .nav {
      position: relative;
      border: none;
      border-radius: 10em;
      display: flex;
      list-style: none;
      background: $color-disable;
      padding: 0;
      li {
          margin: 0px;
          a {
              position: relative;
              padding: 0.6em 2em;
              font-size: 11px;
              border: none;
              color: lighten($color: $color-black, $amount: 50%);
              display: inline-block;
              text-decoration: none;
              text-transform: uppercase;
              text-align: center;
              z-index: 3;
              &.active {
                color: $color-white;
              }
          }
      }
  }
  .slide1,
  .slide2 {
      position: absolute;
      display: inline-block;
      height: 29.7px;
      border-radius: 10em;
      transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1.05);
  }
  .nav .slide1 {
      background-color: $color-black;
      z-index: 2;
  }
  .nav .slide2 {
      opacity: 0;
      background: #fff;
      // border: 1px solid #8ab9ff;
      z-index: 1;
  }
}

#mini-navbar-second {
  .slide1,
  .slide2 {
      height: 46.2px;
  }
}

.squeeze {
  transition: all 1.5s;
  transform: scale(0.9);
}