.tips-box {
  position: relative;
  @include flex-column-center;
  background-color: $color-disable;
  height: 341px;
  .tips-icon {
    margin-bottom: 20px;
  }
  .tips-content {
    width: 80%;
    text-align: center;
    @media (min-width: 992px) {
      width: 60%;
    }
    @media (min-width: 1200px) {
      width: 50%;
    }
  }
  .tips-btn {
    font-family: "WWF", sans-serif;
    color: $color-secondary;
    text-transform: uppercase;
    padding: 10px 0 0 0;
    font-size: 20px;
    width: 90%;
    text-align: center;
    &:hover {
      color: darken($color: $color-secondary, $amount: 20%);
      text-decoration: none;
    }
  }
  .tips-line {
    width: 90%;
    height: 1px;
    background-color: $color-secondary;
    margin: 20px 0 0 0;
  }
}
.tips-box--noback {
  background-color: $color-white;
  @media (max-width: 768px) {
    height: auto;
  }
  .tips-content {
    h2 {
      font-family: "WWF", sans-serif;
      font-size: 45px;
      line-height: 41px;
      text-transform: uppercase;
    }
  }
}