.chart {
  h2 {
    font-family: "WWF", sans-serif;
    text-transform: uppercase;
    font-size: 30px;
  }
  p {
    padding: 0 30%;
    @media (max-width: 578px) {
      padding: 0 15%;
    }
  }
  &.cycle {
    canvas {
      @media (max-width: 576px) {
        width: 88% !important;
        height: auto !important;
      }
    }
  }
}

.legend {
  position: absolute;
  bottom: 65px;
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    li {
      position: relative;
      margin: 0 20px;
      color: lighten($color: #000000, $amount: 70%);
      font-size: 13px;
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: -15px;
        top: 5px;
        height: 10px;
        width: 10px;
        background-color: gray;
      }
      &.red {
        &:before {
          background-color: map-get($map: $colors, $key: A);
        }
      }
      &.green {
        &:before {
          background-color: map-get($map: $colors, $key: B);
        }
      }
      &.yellow {
        &:before {
          background-color: map-get($map: $colors, $key: C);
        }
      }
      &.gray {
        &:before {
          background-color: map-get($map: $colors, $key: D);
        }
      }
    }
  }
}

.legend-name {
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  left: -25px;
  top: 120px;
  transform: rotate(270deg);
  color: lighten($color: #000000, $amount: 70%);
@media (min-width: 576px) {
  left: -25px;
}
@media (min-width: 768px) {
  left: 0;
}
@media (min-width: 992px) {
  left: 120px;
}
@media (min-width: 1200px) {
  left: 200px;
}
}

.overflow-chart {
  overflow: auto !important;
  @media (min-width: 576px) {
    overflow: auto hidden !important;
  }
  @media (min-width: 768px) {
    overflow: hidden !important;
  }
  @media (min-width: 992px) {
    overflow: hidden !important;
  }
  @media (min-width: 1200px) {
    overflow: hidden !important;
  }
}

#ipv_container {
  position: relative;
  margin: 0 0 100px 0;
  left: 145px;
  @media (min-width: 576px) {
    left: 145px;
  }
  @media (min-width: 768px) {
    left: 75px;
  }
  @media (min-width: 992px) {
    left: 80px;
  }
  @media (min-width: 1200px) {
    left: 65px;
  }
}

#cycle_container {
  position: relative;
  margin: 0;
}