.ipv-controls {
  position: relative;
  width: 100%;
  @include flex-row-center;
  .ipv-menu {
    list-style: none;
    @include flex-row-center;
    width: 234px;
    padding: 0;
    border: 1px solid lighten($color: $color-black, $amount: 85%);
    li {
      @include flex-row-center;
      cursor: pointer;
      width: 58.5px;
      height: 46px;
      padding: 10px 0;
      border-right: 1px solid lighten($color: $color-black, $amount: 85%);
      transition: all .15s;
      img {
        opacity: .3;
      }
      &:last-child {
        border: none;
      }
      &:hover {
        background-color: lighten($color: $color-black, $amount: 90%);
      }
      &.active {
        img {
          opacity: 1;
        }
      }
    }
  }
  #ipv-help {
    cursor: pointer;
    margin-bottom: 45px;
    margin-left: 10px;
  }
  .ipv-help-container {
    transform-origin: center;
    left: 55%;
    z-index: 100;
    position: absolute;
    background-color: $color-black;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, .5);
    color: $color-white;
    font-size: 14px;
    width: 400px;
    padding: 10px 15px;
  }
}
.ipv-chart {
  position: relative;
  h5 {
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }
  img {
    margin: 20px 0 0 0;
  }
}