.zoom {
  position: relative;
  height: calc(100vh - 66px);
  min-height: 732px;
  width: 100%;
  transition: all .50s;
  overflow-x: hidden;
  overflow-y: hidden;
  &__background {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 732px;
    object-fit: cover;
    transition: all .50s;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  h2 {
    font-family: "WWF", sans-serif;
    color: $color-white;
    text-transform: uppercase;
    font-size: 45px;
    line-height: 41px;
  }
  p {
    color: $color-white;
    font-size: 16px;
    margin: 0;
    padding-right: 50px;
  }
  .link {
    color: $color-white;
    text-decoration: underline;
    padding-right: 50px;
    &:hover {
      color: darken($color: $color-white, $amount: 20%);
    }
  }
  .left-panel {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $color-white;
    height: 100%;
    z-index: 10;
    width: 100%;
    padding: 60px;
    overflow-y: scroll;
    @media (min-width: 768px) {
      width: 56%;
    }
    @media (min-width: 992px) {
      width: 45%;
    }
    @media (min-width: 1200px) {
      width: 40%;
    }
    .close {
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
    }
    .content {
      margin-bottom: 50px;
      h3 {
        font-family: "WWF", sans-serif;
        text-transform: uppercase;
        font-size: 45px;
        line-height: 41px;
        margin-bottom: 0;
      }
      small {
        font-size: 16px;
        font-style: italic;
        font-weight: 300;
      }
      p {
        margin-top: 25px;
        color: $color-black;
      }
    }
  }
}
.btn-roll-over {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background-color: transparentize($color: $color-black, $amount: .3);
}

.zoom-mobile {
  position: relative;
  h2 {
    font-family: "WWF", sans-serif;
    font-size: 30px;
    line-height: 32px;
    text-transform: uppercase;
    color: $color-black;
    width: 50%;
  }
  .zoom-slick-container {
    .zoom-slide {
      width: 100%;
      text-decoration: none;
      &__img {
        width: 95%;
        margin-bottom: 10px;
      }
      h3 {
        font-family: "WWF", sans-serif;
        font-size: 20px;
        line-height: 32px;
        text-transform: uppercase;
        color: $color-primary;
      }
      p {
        font-size: 16px;
        color: $color-black;
        width: 60%;
        a {
          color: $color-black;
          text-decoration: underline;
        }
      }
      &.slide-link {
        padding: 0 0 0 35px;
      }
    }
  }
  .zoom-col {
    position: relative;
    .caret {
      z-index: -10;
      position: absolute;
      height: 20px;
      &.right {
        right: 15px;
        top: 180px;
      }
      &.left {
        left: 15px;
        top: 180px;
      }
    }
  }
  &.panel-open {
    height: 100vh;
  }
  .zoom-panel-mobile {
    position: fixed;
    background-color: $color-white;
    top: 66px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    .content {
      height: 100%;
      padding: 20px;
      overflow: auto;
      h3 {
        font-family: "WWF", sans-serif;
        font-size: 30px;
        line-height: 20px;
        margin-bottom: 5px;
        text-transform: uppercase;
        color: $color-black;
      }
      small {
        font-size: 16px;
      }
      p {
        margin-top: 25px;
      }
      .zoom-mobile-close {
        cursor: pointer;
        margin: 20px 0;
      }
      &__text {
        padding-bottom: 100px;
      }
      &__img {
        position: relative;
        background-size: cover;
        background-position: 100% 100%;
        height: 300px;
        margin: -20px -20px 0;
        &.faucon {
          background-image: url('../img/faucon-pelerin.png');
        }
        &.rainette {
          background-image: url('../img/rainette-verte.png');
        }
        &.loup {
          background-image: url('../img/loup.png');
        }
        &.alouette {
          background-image: url('../img/alouette-des-champs.png');
        }
      }
    }
  }
}